name: CI
on:
  push:
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: '8.0.265'

      - name: Setup bin directory
        run: |
          mkdir -p $HOME/bin
          echo "::add-path::$HOME/bin"

      - name: Setup build dependencies
        run: |
          apt-get update
          apt-get install -y git gcc
          wget https://github.com/bazelbuild/bazelisk/releases/download/v1.6.0/bazelisk-linux-amd64
          chmod +x bazelisk-linux-amd64
          mv bazelisk-linux-amd64 $HOME/bin/bazelisk

      - name: Build
        run: bazelisk build //...

      - name: Test
        run: bazelisk test //...